html,
body,
:global(#root) {
  height: 100%;
  /* font-family: Helvetica Neue For Number, -apple-system, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif; */
  font-family: 'Monospaced Number', 'Chinese Quote', -apple-system, 'Segoe UI', Roboto, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 14px;
}

body {
  background-color: #fff !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
